
.triangle-right {
    position:relative;
    padding:10px;
    margin:1em 0 3em;
    max-width: 580px;
    display: inline-block;
    color:#f5f5f5;
    background:red; /* default background for browsers without gradient support */
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    -o-hyphens: auto;
    hyphens: auto;
    border-radius:10px;
    white-space: normal;
    word-wrap: break-word;
}

/* Variant : for top positioned triangle
------------------------------------------ */

.triangle-right.top {
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#075698), to(#2e88c4));
    background:-moz-linear-gradient(#075698, #2e88c4);
    background:-o-linear-gradient(#075698, #2e88c4);
    background:linear-gradient(#075698, #2e88c4);
}

/* Variant : for left positioned triangle
------------------------------------------ */

.triangle-right.left {
    margin-left:30px;
    color:#004444;
    background-color: ghostwhite;
    white-space: pre-line;
}

/* Variant : for right positioned triangle
------------------------------------------ */

.triangle-right.right {
    margin-right:30px;
    color:#96281B;
    font-weight: bold;
    font-style: oblique;
    background-color:ghostwhite;
    white-space: pre-line;
}

/* THE TRIANGLE
------------------------------------------------------------------------------------------------------------------------------- */

.triangle-right:after {
    content:"";
    position:absolute;
    bottom:-20px; /* value = - border-top-width - border-bottom-width */
    left:50px; /* controls horizontal position */
    border-width:20px 0 0 20px; /* vary these values to change the angle of the vertex */
    border-style:solid;
    border-color:red transparent;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* Variant : top
------------------------------------------ */

.triangle-right.top:after {
    top:-20px; /* value = - border-top-width - border-bottom-width */
    right:50px; /* controls horizontal position */
    bottom:auto;
    left:auto;
    border-width:20px 20px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent #075698;
}

/* Variant : left
------------------------------------------ */

.triangle-right.left:after {
    top:8px;
    left:-35px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    border-width:15px 40px 0 0; /* vary these values to change the angle of the vertex */
    border-color:transparent ghostwhite;
}

/* Variant : right
------------------------------------------ */

.triangle-right.right:after {
    top:16px;
    right:-40px; /* value = - border-left-width - border-right-width */
    bottom:auto;
    left:auto;
    border-width:15px 0 0 40px; /* vary these values to change the angle of the vertex */
    border-color:transparent ghostwhite ;
}


/* ============================================================================================================================
== BUBBLE WITH AN OBTUSE TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */


/* ============================================================================================================================
== BUBBLE WITH A BORDER AND TRIANGLE
** ============================================================================================================================ */

/* THE SPEECH BUBBLE
------------------------------------------------------------------------------------------------------------------------------- */


/* ============================================================================================================================
== SPEECH BUBBLE ICON
** ============================================================================================================================ */

.example-commentheading {
    position:relative;
    padding:0;
    color:#b513af;
}

/* creates the rectangle */
.example-commentheading:before {
    content:"";
    position:absolute;
    top:9px;
    left:-25px;
    width:15px;
    height:10px;
    background:#b513af;
    /* css3 */
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    border-radius:3px;
}

/* creates the triangle */
.example-commentheading:after {
    content:"";
    position:absolute;
    top:15px;
    left:-19px;
    border:4px solid transparent;
    border-left-color:#b513af;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}


/* ============================================================================================================================
== BLOCKQUOTE WITH RIGHT-ANGLED TRIANGLE
** ============================================================================================================================ */

.example-right {
    position:relative;
    padding:15px 30px;
    margin:0;
    color:#fff;
    background:#5a8f00; /* default background for browsers without gradient support */
    /* css3 */
    background:-webkit-gradient(linear, 0 0, 0 100%, from(#b8db29), to(#5a8f00));
    background:-moz-linear-gradient(#b8db29, #5a8f00);
    background:-o-linear-gradient(#b8db29, #5a8f00);
    background:linear-gradient(#b8db29, #5a8f00);
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-right + p {margin:15px 0 2em 85px; font-style:italic;}

/* creates the triangle */
.example-right:after {
    content:"";
    position:absolute;
    bottom:-50px;
    left:50px;
    border-width:0 20px 50px 0px;
    border-style:solid;
    border-color:transparent #5a8f00;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}




/* ============================================================================================================================
== TWITTER
** ============================================================================================================================ */

.example-twitter {
    position:relative;
    padding:15px;
    margin:100px 0 0.5em;
    color:#333;
    background:#eee;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

.example-twitter p {font-size:28px; line-height:1.25em;}

/* this isn't necessary, just saves me having to edit the HTML of the demo */
.example-twitter:before {
    content:url(twitter-logo.gif);
    position:absolute;
    top:-60px;
    left:0;
    width:155px;
    height:36px;
    /* reduce the damage in FF3.0 */
    display:block;
}

/* creates the triangle */
.example-twitter:after {
    content:"";
    position:absolute;
    top:-30px;
    left:50px;
    border:15px solid transparent;
    border-bottom-color:#eee;
    /* reduce the damage in FF3.0 */
    display:block;
    width:0;
}

/* display of quote author (alternatively use a class on the element following the blockquote) */
.example-twitter + p {padding-left:15px; font:14px Arial, sans-serif;}


/* ============================================================================================================================
== NUMBER
** ============================================================================================================================ */

.example-number {
    position:relative;
    width:200px;
    height:200px;
    margin:50px 0 200px;
    text-align:center;
    font:140px/200px Arial, sans-serif;
    color:#fff;
    background:#C91F2C;
}

/* creates the larger triangle */
.example-number:before {
    content:"";
    position:absolute;
    bottom:-140px;
    right:0;
    border-width:0 0 140px 140px;
    border-style:solid;
    border-color:transparent #C91F2C;
}

/* creates the larger triangle */
.example-number:after {
    content:"";
    position:absolute;
    bottom:-140px;
    right:85px;
    border-width:0 0 140px 55px;
    border-style:solid;
    border-color:transparent #fff;
}


/* ============================================================================================================================
== PINCHED SPEECH BUBBLE (more CSS3)
** ============================================================================================================================ */

.pinched {
    position:relative;
    padding:15px;
    margin:50px 0 3em;
    text-align:center;
    color:#fff;
    background:#333;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* creates a rectangle of the colour wanted for the pointy bit */
.pinched:before {
    content:"";
    position:absolute;
    top:-20px;
    left:50%;
    width:100px;
    height:20px;
    margin:0 0 0 -50px;
    background:#333;
}

/* creates a rounded rectangle to cover part of the rectangle generated above */
.pinched:after {
    content:"";
    position:absolute;
    top:-20px;
    left:0;
    width:50%;
    height:20px;
    background:#fff;
    /* css3 */
    -webkit-border-bottom-right-radius:15px;
    -moz-border-radius-bottomright:15px;
    border-bottom-right-radius:15px;
}

/* creates the other rounded rectangle */
.pinched > :first-child:before {
    content:"";
    position:absolute;
    top:-20px;
    right:0;
    width:50%;
    height:20px;
    background:#fff;
    /* css3 */
    -webkit-border-bottom-left-radius:15px;
    -moz-border-radius-bottomleft:15px;
    border-bottom-left-radius:15px;
}
/* ============================================================================================================================
== RECTANGLE-BORDER STYLE WITH CURVE
** ============================================================================================================================ */

.rectangle-speech-border {
    position:relative;
    padding:50px 15px;
    margin:1em 0 3em;
    border:10px solid #5a8f00;
    text-align:center;
    color:#333;
    background:#fff;
    /* css3 */
    -webkit-border-radius:20px;
    -moz-border-radius:20px;
    border-radius:20px;
}

/* creates larger curve */
.rectangle-speech-border:before {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-40px;
    left:50px;
    width:50px;
    height:30px;
    border-style:solid;
    border-width:0 10px 10px 0;
    border-color:#5a8f00;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:80px 50px;
    -moz-border-radius-bottomright:80px 50px;
    border-bottom-right-radius:80px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
}

/* creates smaller curve */
.rectangle-speech-border:after {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-40px;
    left:50px;
    width:20px;
    height:30px;
    border-style:solid;
    border-width:0 10px 10px 0;
    border-color:#5a8f00;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:40px 50px;
    -moz-border-radius-bottomright:40px 50px;
    border-bottom-right-radius:40px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.rectangle-speech-border > :first-child:before {
    content:"";
    position:absolute;
    bottom:-40px;
    left:45px;
    width:10px;
    height:10px;
    background:#5a8f00;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.rectangle-speech-border > :first-child:after {
    content:"";
    position:absolute;
    bottom:-10px;
    left:76px;
    width:24px;
    height:15px;
    background:#fff;
}

/* ============================================================================================================================
== OVER SPEECH BUBBLE, EMPTY, WITH BORDER (more CSS3)
** ============================================================================================================================ */

.oval-speech-border {
    position:relative;
    padding:70px 30px;
    margin:1em auto 60px;
    border:10px solid #f3961c;
    text-align:center;
    color:#333;
    background:#fff;
    /* css3 */
    /*
    NOTES:
    -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-top-left-radius:240px 140px;
    -webkit-border-top-right-radius:240px 140px;
    -webkit-border-bottom-right-radius:240px 140px;
    -webkit-border-bottom-left-radius:240px 140px;
    -moz-border-radius:240px / 140px;
    border-radius:240px / 140px;
}

/* creates larger curve */
.oval-speech-border:before {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-40px;
    right:50%;
    width:50px;
    height:30px;
    border-style:solid;
    border-width:0 10px 10px 0;
    border-color:#f3961c;
    margin-right:-10px;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:80px 50px;
    -moz-border-radius-bottomright:80px 50px;
    border-bottom-right-radius:80px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
}

/* creates smaller curve */
.oval-speech-border:after {
    content:"";
    position:absolute;
    z-index:2;
    bottom:-40px;
    right:50%;
    width:20px;
    height:31px;
    border-style:solid;
    border-width:0 10px 10px 0;
    border-color:#f3961c;
    margin-right:20px;
    background:transparent;
    /* css3 */
    -webkit-border-bottom-right-radius:40px 50px;
    -moz-border-radius-bottomright:40px 50px;
    border-bottom-right-radius:40px 50px;
    /* reduce the damage in FF3.0 */
    display:block;
}

/* creates a small circle to produce a rounded point where the two curves meet */
.oval-speech-border > :first-child:before {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-40px;
    right:50%;
    width:10px;
    height:10px;
    margin-right:45px;
    background:#f3961c;
    /* css3 */
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
}

/* creates a white rectangle to cover part of the oval border*/
.oval-speech-border > :first-child:after {
    content:"";
    position:absolute;
    z-index:1;
    bottom:-10px;
    right:50%;
    width:30px;
    height:15px;
    background:#fff;
}

/* ============================================================================================================================
== OVER THOUGHT BUBBLE, EMPTY, WITH BORDER (more CSS3)
** ============================================================================================================================ */

.oval-thought-border {
    position:relative;
    padding:70px 30px;
    margin:1em auto 80px;
    border:10px solid #c81e2b;
    text-align:center;
    color:#333;
    background:#fff;
    /* css3 */
    /*
    NOTES:
    -webkit-border-radius:240px 140px; // produces oval in safari 4 and chrome 4
    -webkit-border-radius:240px / 140px; // produces oval in chrome 4 (again!) but not supported in safari 4
    Not correct application of the current spec, therefore, using longhand to avoid future problems with webkit corrects this
    */
    -webkit-border-top-left-radius:240px 140px;
    -webkit-border-top-right-radius:240px 140px;
    -webkit-border-bottom-right-radius:240px 140px;
    -webkit-border-bottom-left-radius:240px 140px;
    -moz-border-radius:240px / 140px;
    border-radius:240px / 140px;
}

/* creates the larger circle */
.oval-thought-border:before {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-40px;
    right:100px;
    width:50px;
    height:50px;
    border:10px solid #c81e2b;
    background:#fff;
    /* css3 */
    -webkit-border-radius:50px;
    -moz-border-radius:50px;
    border-radius:50px;
    /* reduce the damage in FF3.0 */
    display:block;
}

/* creates the smaller circle */
.oval-thought-border:after {
    content:"";
    position:absolute;
    z-index:10;
    bottom:-60px;
    right:50px;
    width:25px;
    height:25px;
    border:10px solid #c81e2b;
    background:#fff;
    /* css3 */
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    border-radius:25px;
    /* reduce the damage in FF3.0 */
    display:block;
}